<% content_for :headers do %>
<style type="text/css" media="screen">
  .order_form{ 
    width:60%;
    float:left;
  }  
  .vendor_info{
    width:35%;
    float:right;
  }    
  
</style> 

<%= stylesheet_link_tag "ui.datepicker.css" %> 
<%= javascript_include_tag "ui.datepicker.js" %>
<%= javascript_include_tag "jquery.ui.i18n.all.js" %>
<script type="text/javascript">    
	$(document).ready(function(){   
		$("#calendar").datepicker($.extend({}, 
		$.datepicker.regional["zh-CN"], {
			minDate: "0d", 
			maxDate: "1w", 
		    showStatus: true, 
		    showOn: "both", 
		    buttonImage: "/images/icons/calendar.png", 
		    buttonImageOnly: true 
		})); 
	 });
</script>

<% end %>

<li class="section">
	<h3>订单信息(必填)</h3>
</li>
<fieldset> 
      <ul>
  	<li class="section first">
  	</li>   
  	<li>  
  		<label class="desc">就餐日期<span class="req">*</span></label>  
  		 <span><%= f.text_field :date, :id => "calendar",:size => "15*15", :class => "field text" %>  </span>  
  	 </li> 
  		
  	 <li>
  		<%=f.select :time_range,TIMERANGE,{},:class => "field select" %>
  		<label>选择一个时间段</label>
  		</span>
  	</li>
  	<li>
  	   	<label class="desc">就餐人数:<span class="req">*</span></label>
  		<span class="left">
  		<%=f.text_field :guest_count,:size => "15*15",:class=>"field text" %><i>(数字)</i>
  		<span>
  	</li>
  	 <li>
  		<label class="desc">其他要求:</label> 
  		<div>
  		<%=f.text_area :requirment,:style => 'height:80px;width:300px' %>
  		</div>
  	 </li>  
  	 </fieldset>
  	<li class="section">
  		<h3>联系人信息</h3>
  		<div>请填写真实的订单联系人.</div>
  	</li> 
  	<li>
  	<label class="desc">名称<span class="req">*</span></label>
  		<div>
  		<%= f.text_field :contact,:class =>"field text" %> 
  		</div>
  	</li>
  	<li>
  	<label class="desc">手机:<span class="req">*</span></label>
  		<div>
  		<%= f.text_field :mobile, :class =>"field text",:value => current_user.mobile %>
  		</div>
  	</li>
  	<li style='text-align:center;'>
  	<%= submit_tag "下一步"%> 
  	</li>
  </ul>  
  <%= f.hidden_field :vendor_id, :value => @vendor.id %> 