<h1>确认订单</h1>
<div style='clear:both;height:80px;background:#eee;padding:10px;'>
  <div style='width:400px;float:left;text-align:right;padding-right:10px;'>
  	<h3>订单信息</h3>
  	<p>时间: <%=@booking.date.strftime("%m-%d")%> <%=booktime(@booking.time_range)%></p> 
  	<p>人数: <%=@booking.guest_count%></p>   
  	</div>
  	<div style='width:400px;float:left;text-align:left;'>  
  	<h3>联系人</h3>
     <p>名称: <%= @booking.contact %></p> 
  <p>手机: <%= @booking.mobile %></p>  
  <% if false %>
  <p>email:<%= @booking.email%></p> 
  <% end %>
  </div>
</div>


<%= link_to '返回编辑', edit_vendor_booking_path(@vendor,@booking) %> | <%= link_to "确定", run_vendor_booking_path(@vendor) %>
