<div class='top'> 
	<div class='left'>
		 欢迎访问 无忧吃吃喝喝 即时餐饮打折平台 加入收藏 
	</div>
	<div class='right'>
		 欢迎访问 无忧吃吃喝喝 即时餐饮打折平台 加入收藏 
	</div>   
</div>          
<div class='menu'>
	<%=link_to image_tag('bg/xc.png'),'/' %>  
	<%=link_to image_tag('bg/xd.png'),'/' %>
	<%=link_to image_tag('bg/logo_mhqx.png'),'/'%>  
	<%=link_to image_tag('bg/ll.png'),'/' %>  
	<%=link_to image_tag('bg/zc.png'),'/' %>	
</div>  
<div class='top-right'>
	
</div>
 